body{
    font-family: "Cherry Bomb One";
    margin: 0;
    background-color: #ebd67d;
}

header {
    display: flex;
    align-items: center;

    padding: 1rem;
    margin: 1rem;
    background-color: #838358f5;
    border-radius: 1rem;
    position: sticky;
    top: 0;
    transition: 0.3s;
    box-shadow: 0.5rem 0.5rem 0.5rem #8ba014;
}

header:hover {
    background-color: #504646;
    transform: translateY(-0.3em);
}

.header__image {
    width: 7rem;
    position: sticky;
}
.header__menu__icon {
    width: 1.5rem;
    margin-left: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: 0.3s;
}
.header__menu__icon:hover {
    background-color: #8ba014;
    box-shadow: 0.2rem 0.2rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__title{
    display: flex;
    align-items: center;
    padding: 1rem;
}
.main__reloadButton {
    width: 2rem;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: 0.3s;
}
.main__reloadButton:hover {
    background-color: #8ba014;
    box-shadow: 0.2rem 0.2rem;
}
.main__feed{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.main__feed__joke{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem;
    width: 33%;
    background-color: #51515159;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #8ba014 ;
}
.main__feed__joke>p{
    margin-top: 0;
}
.main__feed__joke__button{
    padding: 0.2rem;
}
.main__feed__joke__response{
    margin: 0;
    text-align: right;
}
.header__dropdownMenu>div {
    margin: 0.15rem;
    margin-left: 1rem;
    padding: 0.15rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    background-color: #8ba014;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem;
}