body{
    font-family: "Cherry Bomb One";
    margin: 0;
    background-color: #ebd67d;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    background-color: #79696944;
    border-radius: 1rem;;
}

.header__image {
    width: 7rem;
}